body{
  background-color: #f6f8f8;
}
.container{
  margin: 0px;
  padding: 0px;
}
.text-grey{
  color: #939395;
}
.margin-small{
  margin : 15%;
}

.bottom-fix{
  margin:2px;
   font-size:15px;
   bottom:5px;
   position:fixed;
}
